
<nav class="navbar navbar-expand-lg p-2 mb-2 bg-dark text-white container">
          <div class="container-fluid">
              <a class="navbar-brand text-white" href="/">Razobank</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
              <div class="navbar" style="margin-left:auto; color: white;">
              <a class="nav-link px-3" aria-current="page" href="/">Home</a>
              <a class="nav-link px-3" href="/customer">View All Customers</a>
              <a class="nav-link px-3" href="/transfer">Transfer Money</a>
              <a class="nav-link px-3" href="/history">Transaction History</a>
            </div>
          </div>
        </div>
    </nav>