{{>header}}
{{>navbar}}
<h1 class="text-center" style="margin:4rem auto;">Add New User</h1>
<div class="form" style="width: 100%; margin-top:5rem;">
    <form class="border border-dark w-50 mx-auto" action="/customer" method="post" style="padding:2rem;">
        <div class="form-group mb-1 ">
            <label for="exampleInputPassword1" class="my-2">User Name</label>
            <input type="text" name="name" class="form-control" id="amount" placeholder="name">
        </div>
        <div class="form-group mb-1 ">
            <label for="exampleInputPassword1" class="my-2">Account No (lenght 10 charecters)</label>
            <input type="number" name="accno" class="form-control" id="accnumber" placeholder="account no">
        </div>
        <div class="form-group mb-1 ">
            <label for="exampleInputPassword1" class="my-2">Email</label>
            <input type="email" name="email" class="form-control" id="password" placeholder="email">
        </div>
        <div class="form-group mb-1 ">
            <label for="exampleInputPassword1" class="my-2">Current Balance</label>
            <input type="number" name="balance" class="form-control" id="password" placeholder="current balance">
        </div>
        <div class="form-group mb-1 ">
            <label for="exampleInputPassword1" class="my-2">Password (min lenght 5 only numbers)</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="password">
        </div>
        <div class="btn w-100 mx-auto">
        <button type="submit" class="btn btn-primary w-50 mt-3">Add User</button>
        </div>
    </form>
</div>
{{>footer}}

